.header {
    justify-content: space-around;
    align-items: center;
    &__logo {
        img {
            width: 24px;
            height: auto;
        }
        height: 36.05px;
        padding-left: 30px
    }
    ul {
        li{
            font-weight: bold;
            margin: 0 10px !important;
        }
    }
    
}

.button{
    margin-left: 10px;
}